:root {
  --seed-palette-color-base-100: #ffffff;
  --seed-palette-color-base-500: #c6ccd1;
  --seed-palette-color-base-800: #494f54;
  --seed-palette-color-base-1000: #191b1c;
  --seed-palette-color-blue-200: #e0f2fe;
  --seed-palette-color-blue-800: #0369a1;
  --seed-palette-color-blue-1000: #0c4a6e;
}

button {
  all: unset;
}

.select {
}

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: white;
  color: var(--seed-palette-color-base-1000);
  box-shadow: 0 2px 10px var(--seed-palette-color-base-1000);

  &:hover {
    background-color: var(--seed-palette-color-blue-200);
  }

  &:focus {
    box-shadow: 0 0 0 2px black;
  }

  &[data-placeholder] {
    color: var(--seed-palette-color-base-800);
  }
}

.SelectIcon {
  color: var(--seed-palette-color-base-1000);
}

.SelectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  color: var(--seed-palette-color-base-1000);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;

  &[data-disabled] {
    color: var(--seed-palette-color-blue-800);
    pointer-events: none;
  }

  &[data-highlighted] {
    outline: none;
    background-color: var(--seed-palette-color-base-800);
    color: var(--seed-color-violet-1);
  }
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--seed-palette-color-blue-1000);
}

.SelectSeparator {
  height: 1px;
  background-color: var(--seed-palette-color-base-500);
  margin: 5px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--seed-palette-color-base-1000);
  cursor: default;
}
