.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.drawer-content {
  border-radius: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  background-color: white;
  outline: none;
  z-index: 1;
}

.content {
  padding: 1rem;
  background-color: white;
  height: 300px;
}