:root {
  /* Color tokens */
  --seed-palette-color-base-100: #ffffff;
  --seed-palette-color-base-800: #494f54;

  /* Radius tokens */
  --seed-spacing-100: 0px;
  --seed-spacing-300: 8px;
  --seed-spacing-600: 20px;
  --seed-spacing-900: 32px;
}

/** Default Style */
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.drawer-content {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  background-color: #fff;
  outline: none;
  max-height: calc(100dvh - 32px);
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  overflow-y: hidden;
}

.drawer-content-inner {
  max-height: calc(100dvh - 68px); /* 핸들 높이(36px)를 고려하여 조정 */
  overflow-y: auto; /* 스크롤 추가 */
  -webkit-overflow-scrolling: touch; /* iOS에서 부드러운 스크롤 */
}

/** Tokens Style */
.bottomsheet-container--radius-none {
  border-top: var(--seed-spacing-100);
}

.bottomsheet-container--radius-small {
  border-radius: var(--seed-spacing-300);
}

.bottomsheet-container--radius-medium {
  border-radius: var(--seed-spacing-700);
}

.bottomsheet-container--radius-large {
  border-radius: var(--seed-spacing-900);
}

.bottomsheet-container--theme-light {
  background-color: var(--seed-palette-color-base-100);
}

.bottomsheet-container--theme-dark {
  background-color: var(--seed-palette-color-base-800);
}

.drawer-handle {
  height: 36px;
  width: 100%;
}
