:root {
  /* Size tokens */
  --seed-spacing-300: 8px;
  --seed-spacing-400: 12px;
  --seed-spacing-500: 16px;

  --seed-font-line-height-3xl: 32px;
  --seed-font-line-height-4xl: 40px;
  --seed-font-line-height-5xl: 48px;

  --seed-font-size-s: 14px;
  --seed-font-size-sm: 16px;

  /* Variant tokens */
  --seed-palette-color-base-100: #fff;
  --seed-palette-color-base-200: #f6f7f9;
  --seed-palette-color-base-300: #edf0f3;
  --seed-palette-color-base-400: #e0e5ea;

  /* State tokens */
  --seed-palette-color-blue-200: #e0f2fe;
  --seed-palette-color-red-200: #fee2e2;
  --seed-palette-color-red-500: #f87171;
}

.textarea-container {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  transition: all 150ms ease;
}

.textarea {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  font-family: inherit;
  resize: none;
}

.textarea-container--size-large {
  height: var(--seed-font-line-height-5xl);
}
.textarea-container--size-large .textarea {
  font-size: var(--seed-font-size-sm);
  padding: 0 var(--seed-spacing-500);
}

.textarea-container--size-medium {
  height: var(--seed-font-line-height-4xl);
}
.textarea-container--size-medium .textarea {
  font-size: var(--seed-font-size-s);
  padding: 0 var(--seed-spacing-400);
}

.textarea-container--size-small {
  height: var(--seed-font-line-height-3xl);
}
.textarea-container--size-small .textarea {
  font-size: var(--seed-font-size-s);
  padding: 0 var(--seed-spacing-300);
}

.textarea-container--variant-classic {
  border: 1px solid transparent;
  background: var(--seed-palette-color-base-100);
}

.textarea-container--variant-surface {
  border: 1px solid transparent;
  background: var(--seed-palette-color-base-300);
}

.textarea-container--variant-soft {
  border: 1px solid transparent;
  background: var(--seed-palette-color-base-200);
}

.textarea-container--radius-none {
  border-radius: 0;
}

.textarea-container--radius-small {
  border-radius: 4px;
}

.textarea-container--radius-medium {
  border-radius: 6px;
}

.textarea-container--radius-large {
  border-radius: 8px;
}

.textarea-container--radius-full {
  border-radius: 9999px;
}

.textarea-container:focus-within:not(.textarea-container--error) {
  box-shadow: 0 0 0 2px var(--seed-palette-color-blue-200);
}

.textarea-container--error {
  border-color: var(--seed-palette-color-red-500);
  box-shadow: 0 0 0 2px var(--seed-palette-color-red-200);
}

.textarea-container--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.textarea-content {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin: 0 6px;
}
