:root {
  --button-loading-dot-delay: 0.2s;
  --button-loading-dot-duration: 1.4s;
}

// Styles
.button {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border: none;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  border-radius: var(--seed-spacing-300);

  &:disabled {
    cursor: not-allowed;
  }

  &.button--loading {
    cursor: wait;
  }
}

// Size Variants
.button--size-lg {
  padding: var(--seed-spacing-500) var(--seed-spacing-700);
  gap: var(--seed-spacing-300);
  font-size: 16px;
  height: 52px;

  & > .button--content span {
    height: 20px;
  }
}

.button--size-md {
  padding: var(--seed-spacing-300) var(--seed-spacing-400);
  gap: var(--seed-spacing-300);
  font-size: 14px;
  height: 48px;

  & > .button--content span {
    height: 20px;
  }
}

// Type Variants - Solid
.button--type-solid-green {
  background-color: var(--seed-brand-color-primary);
  color: var(--seed-ui-color-line-white);

  &:hover:not(:disabled) {
    background-color: var(--seed-palette-color-green-700);
  }

  &:active:not(:disabled) {
    background-color: var(--seed-palette-color-green-700);
  }

  &.disabled {
    background-color: var(--seed-ui-color-background-guide);
    border-color: var(--seed-ui-color-background-guide);
    color: var(--seed-ui-color-text-disabled);
  }
}

.button--type-solid-red {
  background-color: var(--seed-brand-color-point2);
  color: var(--seed-ui-color-line-white);

  &:hover:not(:disabled) {
    background-color: var(--seed-palette-color-red-600);
  }

  &:active:not(:disabled) {
    background-color: var(--seed-palette-color-red-600);
  }

  &.disabled {
    background-color: var(--seed-ui-color-background-guide);
    border-color: var(--seed-ui-color-background-guide);
    color: var(--seed-ui-color-text-disabled);
  }
}

.button--type-base {
}

// Type Variants - Outline
.button--type-outline-green {
  background-color: var(--seed-ui-color-background-container);
  border: 1px solid var(--seed-brand-color-primary);
  color: var(--seed-brand-color-primary);

  &:hover:not(:disabled) {
    background-color: var(--seed-brand-color-secondary2);
  }

  &:active:not(:disabled) {
    background-color: var(--seed-brand-color-secondary2);
  }

  &.disabled {
    background-color: var(--seed-ui-color-background-white);
    border-color: var(---seed-ui-color-line-lite);
    color: var(--seed-ui-color-text-disabled);
  }
}

.button--type-outline-gray {
  background-color: var(--seed-ui-color-background-white);
  border: 1px solid var(--seed-ui-color-line-dark);
  color: var(--seed-ui-color-text-black);

  &:hover:not(:disabled) {
    background-color: var(--seed-ui-color-background-gray);
  }

  &:active:not(:disabled) {
    background-color: var(--seed-ui-color-background-gray);
  }

  &.disabled {
    background-color: var(--seed-ui-color-background-white);
    border-color: var(---seed-ui-color-line-lite);
    color: var(--seed-ui-color-text-disabled);
  }
}

// Type Variants - Text
.button--type-text-none {
  background-color: transparent;
  color: var(--seed-ui-color-text-black);

  &:hover:not(:disabled) {
    color: var(--seed-ui-color-text-lite);
  }

  &:active:not(:disabled) {
    color: var(--seed-ui-color-text-lite);
  }

  &.disabled {
    color: var(--seed-ui-color-text-disabled);
  }
}

// Display Variants
.button--display-inline {
  display: inline-flex;
}

.button--display-block {
  display: flex;
}

.button--display-full {
  display: flex;
  width: 100%;
}

// Loading Animation
.button--content {
  opacity: 1;
  transition: opacity 0.2s;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  &.button--content--hidden {
    opacity: 0;
  }
}

.button--loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.button--loading-dot {
  animation: loadingDot var(--button-loading-dot-duration) infinite;
  opacity: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: currentColor;

  &:nth-child(2) {
    animation-delay: var(--button-loading-dot-delay);
  }

  &:nth-child(3) {
    animation-delay: calc(var(--button-loading-dot-delay) * 2);
  }
}

@keyframes loadingDot {
  0%,
  20% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-2px);
  }
  80%,
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
