:root {
  // Font weights Tokens
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  // Font sizes (px) Tokens
  --font-size-heading: 24px;
  --font-size-body: 16px;
  --font-size-text: 14px;

  // Line heights Tokens
  --line-height-default: 1.4;

  // Display options Tokens
  --font-display-block: block;
  --font-display-inline-block: inline-block;
  --font-display-inline: inline;
  --font-display-flex: flex;
  --font-display-inline-flex: inline-flex;
  --font-display-none: none;
}

// Styles
.text {
  box-sizing: border-box;
}

.text--font-weight-regular {
  font-weight: var(--font-weight-regular);
}

.text--font-weight-medium {
  font-weight: var(--font-weight-medium);
}

.text--font-weight-bold {
  font-weight: var(--font-weight-bold);
}

.text--typography-heading {
  font-size: var(--font-size-heading);
  line-height: var(--line-height-default);
}

.text--typography-body {
  font-size: var(--font-size-body);
  line-height: var(--line-height-default);
}

.text--typography-text {
  font-size: var(--font-size-text);
  line-height: var(--line-height-default);
}

.text--single-line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text--multi-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text--display-block {
  display: var(--font-display-block);
}

.text--display-inline-block {
  display: var(--font-display-inline-block);
}

.text--display-inline {
  display: var(--font-display-inline);
}

.text--display-flex {
  display: var(--font-display-flex);
}

.text--display-inline-flex {
  display: var(--font-display-inline-flex);
}

.text--display-none {
  display: var(--font-display-none);
}
